.container {
    border: 6px solid lightgray;
    display: flex;
    /* justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;     */
    justify-content: space-evenly;
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.item-1 {
    background-color: lightblue;
}

.item-2 {
    background-color: lightyellow;
}

.item-3 {
    background-color: lightpink;
}
